<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강원도 관광 - 화천 산천어축제</title>
    <link rel="icon" type="image/png" th:href="@{/images/common/favicon3.png}">
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/font.css}">
    <link rel="stylesheet" th:href="@{/sub/common_sub.css}">
    <link rel="stylesheet" th:href="@{/sub/sub1.css}">
    <style>
    .drive-image-gallery1 {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            }
    .drive-image-gallery1 img {
            width: 50%;
            height: auto;
            display: block;
            }
    </style>
</head>
<body>
<div class="wrap">
    <section class="sub_visual">
        <img th:src="@{/images/sub11/sub_visual01.jpg}" alt="이야기속강원">
        <h3>이야기속강원</h3>
    </section>
    <div class="bread-crumb">
        <a th:href="@{/}">HOME</a>
        <a href="#">알아가기</a>
        <a href="#">이야기속강원</a>
    </div>

    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main id="sub">
        <div class="drive-info-section">
            <div class="drive-highlight-box">
                <h3>꽁꽁 언 겨울을 녹여줄 재미! 화천 산천어축제</h3>
                <br>
                <p>화천 산천어축제는 매년 100만명의 인원이 참가하는 대축제로 세계 겨울의 7대 불가사의, 세계 4대 겨울축제, 문화관광부선정 대한민국 대표 겨울축제와 같이 다양하게 인정받은 축제이기도 합니다.
                </p>
            </div>

            <p class="drive-section-label">&lt;참고 강원네이처로드 매거진&gt;</p>
            <h3 class="drive-route-title">강원도 축제 추천 여행 매거진 - 강원네이처로드</h3>

            <div class="drive-image-gallery1">
                <img th:src="@{'/images/sub11/Thumbnail (1).jpg'}" alt="화천 산천어축제">
                <img th:src="@{/images/sub11/sub11_19_1.jpg}" alt="화천 산천어축제">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-desc">산천어축제에서는 누구나 즐길 수 있는 다양한 프로그램이 기다리고 있습니다.
                    <br>
                    얼음썰매, 눈썰매, 얼음축구, 얼음조각, 야간 등불축제 등의 볼거리들이 가득한 겨울철 이색테마 축제입니다.
                    <br>
                    아이들과 함께 눈썰매도 즐기면서 색다른 얼음썰매를 탈 생각에 벌써부터 기대가 됩니다.
                </p>
            </div>

            <div class="drive-image-gallery1">
                <img th:src="@{/images/sub11/sub11_19_2.jpg}" alt="화천 산천어축제">
                <img th:src="@{/images/sub11/sub11_19_3.jpg}" alt="화천 산천어축제">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-desc">화천 산천어축제의 실내얼음조각광장은 세계 최대 규모로 알려졌습니다.
                    <br>
                    국내 명소들과 함께 외국의 명소들까지도 형형색색 빛과 함께 얼음조각으로 전시되어있습니다.
                    <br>
                    마치 동화 속에 들어온 것과 같이 몽환적인 분위기를 연출하는 곳입니다. 얼곰이성 주변에는 다양한 눈조각이 매년 색다른 모습으로 바꿔가며 설치가 되며,
                    <br>
                    얼곰이성의 얼음미끄럼틀은 아이들에게 친근하면서도 특별한 최고의 놀이기구로 손꼽힙니다.
                    <br>
                </p>
            </div>

            <div class="drive-image-gallery1">
                <img th:src="@{/images/sub11/sub11_19_5.jpg}" alt="화천 산천어축제">
                <img th:src="@{/images/sub11/sub11_19_4.jpg}" alt="화천 산천어축제">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-desc">화천 산천어축제의 또 다른 매력, 화천읍내에는 선등거리가 있어 밤거리를 아름답게 밝혀줍니다.
                    <br>
                    화려한 불빛이 추위와 맞서 산천어축제를 즐긴 심신을 따뜻하게 녹여줍니다.
                    <br>
                    화천 산천어축제는 세계 4대 겨울축제로 선정된 만큼 다채롭고 흥미로운 축제입니다.
                    <br>
                    이번 겨울 가족들과 함께 얼음나라 화천 산천어축제에서 산천어 낚시뿐만 아니라 다양한 프로그램을 즐기면서 추위를 이겨내 직접 잡아 올린 싱싱한 산천어 한 마리 맛보고 가세요~
                    <br>
                </p>
            </div>
        </div>

        <div class="pager">
            <span class="pager-num">1/1</span>
            <a class="pager-link active">1</a>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>
