<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강원도 관광 - 언택트 여행지</title>
    <link rel="icon" type="image/png" th:href="@{/images/common/favicon3.png}">
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/font.css}">
    <link rel="stylesheet" th:href="@{/sub/common_sub.css}">
    <link rel="stylesheet" th:href="@{/sub/sub1.css}">
    <style>
    .drive-image-gallery1 {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            }
    .drive-image-gallery1 img {
            width: 50%;
            height: auto;
            display: block;
            }
    </style>
</head>
<body>
<div class="wrap">
    <section class="sub_visual">
        <img th:src="@{/images/sub11/sub_visual01.jpg}" alt="이야기속강원">
        <h3>이야기속강원</h3>
    </section>
    <div class="bread-crumb">
        <a th:href="@{/}">HOME</a>
        <a href="#">알아가기</a>
        <a href="#">이야기속강원</a>
    </div>

    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main id="sub">
        <div class="drive-info-section">
            <div class="drive-highlight-box">
                <h3>가족과 함께 떠나보면 좋을 언택트 여행지</h3>
                <br>
                <p>사계절 언제 떠나도 좋은 강원도,
                   아름다운 자연과 다양한 볼거리는 물론 핫한 체험과 레포츠까지 곳곳에서 활력이 넘친다.
                   <br>특히 가족들과 함께 떠나보면 좋을 여행지를 소개한다.
                </p>
            </div>

            <p class="drive-section-label">&lt;참고 강원네이처로드 매거진&gt;</p>
            <h3 class="drive-route-title">언택트 여행지 추천 명소 여행 매거진 - 강원네이처로드</h3>

            <div class="drive-image-gallery1">
                <img th:src="@{/images/sub11/sub11_16.jpg}" alt="태백 통리탄탄파크">
                <img th:src="@{/images/sub11/sub11_16_1.jpg}" alt="태백 통리탄탄파크">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-number">1. 태백 통리탄탄파크 (과거 화려했던 탄광도시의 과거와, 현재, 미래를 재현)</p>
                <p class="drive-place-address">강원 태백시 통골길 116-44</p>
                <p class="drive-place-desc">(구)한보광업소 부지였던 곳이 새롭게 변모하여 폐광유산을 관광자원한 2021년 7월부터 본격 운영한 신규 여행지다.
                    <br>
                    구문소의 용궁 설화를 모티브로 한 라이브스케치, 여섯 대륙의 대표 동물들을 만날 수 있는 증강현실(AR) 체험 포토존, 수호천사가 되어 태백을 구하는 건슬레이어즈(슈팅게임) 등 다양한 체험을 할 수 있고,
                    <br>
                    서늘한 폐갱도를 활용한 디지털 예술 작품을 감상할 수 있다. 인근에 위치한 드라마 '태양의 후예' 촬영지와 태백의 야경을 감상할 수 있는 '오로라파크'도 함께 즐길만한 것들이 가득하다.
                    <br>
                </p>
            </div>

            <div class="drive-image-gallery1">
                <img th:src="@{/images/sub11/sub11_17.jpg}" alt="삼척 하이원추추파크">
                <img th:src="@{/images/sub11/sub11_17_1.jpg}" alt="삼척 하이원추추파크">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-number">2. 삼척 하이원추추파크 (국내 최초 철도형 기차 테마파크)</p>
                <p class="drive-place-address">강원 삼척시 도계읍 심포남길 99</p>
                <p class="drive-place-desc">삼척시 도계읍에 위치한 산악철도와 영동선을 활용한 국내 최초 기차테마파크로, 추억의 증기기관차인 스위치백트레인,
                    <br>
                    스위스 산악기차인 인클라인트레인, 국내 최고속도 레일코스터, 세계 유명기차를 미니어처로 체험할 수 있는 미니트레인 등 4가지 체험시설로 구성되어 있다.
                    <br>
                    또한 가족 단위로 편안하게 쉴 수 있는 4가지 테마의 숙박시설도 마련되어 있어 아이들과 함께 즐길 수 있는 낭만이 가득한 여행지이다.
                    <br>
                </p>
            </div>

            <div class="drive-image-gallery1">
                <img th:src="@{/images/sub11/sub11_15.jpg}" alt="영월 연당원">
                <img th:src="@{/images/sub11/sub11_15_1.jpg}" alt="영월 연당원">
            </div>

            <div class="drive-place-info">
                <p class="drive-place-number">3. 영월 연당원 (9개 가지 테마로 구성된 강원도 지방정원 1호)</p>
                <p class="drive-place-address">강원 영월군 남면 연당리 865-8</p>
                <p class="drive-place-desc">연당리에 들어선 정원이라는 뜻으로, 2021년 6월 영월 서강을 따라 조성된 강원도 1호 지방정원이다.
                    <br>
                    흐드러지게 핀 노란 금계국을 비롯해 축구장 15개 규모, 꽃 29종을 비롯한 식물 100여 종이 자리를 잡았다.
                    <br>
                    분재·야생화정원과 목련정원, 어울림마당, 초화원, 수림원 등 9개소의 주제 정원으로 조성하였으며,
                    <br>
                    8만㎡ 에 달하는 초화원은 분홍낮달맞이꽃 등 29종의 꽃 20만본이 식재돼 주민과 관광객 등에게 영월만의 새로운 볼거리를 제공하고 있다.
                    <br>
                </p>
            </div>
        </div>

        <div class="pager">
            <span class="pager-num">1/1</span>
            <a class="pager-link active">1</a>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>
